@import url('https://fonts.cdnfonts.com/css/geometria');

/* general styling */
* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(var(--light-blue), var(--white));
    font-family: 'Geometria', sans-serif;
    overflow: hidden;
}

:root {
    --white: rgb(255, 255, 255);
    --black: rgb(0, 0, 0);
    --light-gray: rgb(240, 240, 240);
    --dark-gray: rgb(40, 40, 40);
    --light-blue: rgb(240, 240, 245);
}

/* page */
.container {
    height: 100svh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
}

/* timer select */
.timer-select {
    display: flex;
    margin-bottom: 5em;
}

.timer-option {
    margin: 0 clamp(1em, 4vw, 1.5em);
    padding-bottom: 0.25em;
    border-bottom: 0.075em solid var(--black);
    cursor: pointer;
    opacity: 0.5;
    transition: opacity 0.4s ease;
}

.timer-option span {
    font-size: 0.75rem;
    letter-spacing: 0.05em;
    text-transform: uppercase;
}

.timer-option.active {
    opacity: 1;
}

.timer-option:hover {
    opacity: 1;
}

/* timer */
.timer {
    display: flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1/1;
    border-radius: 50%;
    width: clamp(20em, 50vw, 25em);
    border: 0.25em solid var(--white);
    box-shadow: 0 0.5em 2.5em 0 rgb(230, 230, 235);
}

.timer span {
    font-size: clamp(4rem, 10vw, 5rem);
    font-weight: 300;
}

svg {
    position: absolute;
    width: clamp(22.5em, 55vw, 27.5em);
}

svg circle {
    fill: transparent;
    stroke: var(--dark-gray);
    stroke-width: 0.15em;
    stroke-linecap: round;
    transform: rotate(-90deg);
    transform-origin: center;
    transition: 1s linear;
}

/* button */
button {
    background-color: var(--dark-gray);
    color: var(--white);
    font-size: 0.75rem;
    margin-top: 5em;
    border: 0.15em solid var(--dark-gray);
    text-transform: uppercase;
    padding: 1em 2.5em;
    border-radius: 2.5em;
    letter-spacing: 0.05em;
    cursor: pointer;
    transition: 0.4s ease;
}

button:hover {
    background-color: transparent;
    color: var(--black);
}